
<section class="arrival" id="arrival">

    <h1 class="heading"> <span>new arrivals</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="./css/images/1.png" alt="">
            </div>
            <div class="info">
                <h3>Stone of Fire</h3>
                <div class="subInfo">
                    <strong class="price"> php700/- <span>php1000/-</span> </strong>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <a href="#" style="--i:1;" class="fas fa-heart"></a>
                <a href="#" style="--i:2;" class="fas fa-shopping-cart"></a>
                <a href="#" style="--i:3;" class="fas fa-search"></a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="./css/images/2.png" alt="">
            </div>
            <div class="info">
                <h3>Crypt of Bone</h3>
                <div class="subInfo">
                    <strong class="price"> php700/- <span>php1000/-</span> </strong>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <a href="#" style="--i:1;" class="fas fa-heart"></a>
                <a href="#" style="--i:2;" class="fas fa-shopping-cart"></a>
                <a href="#" style="--i:3;" class="fas fa-search"></a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="./css/images/3.png" alt="">
            </div>
            <div class="info">
                <h3>Ark of Blood</h3>
                <div class="subInfo">
                    <strong class="price"> Php700/- <span>php1000/-</span> </strong>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <a href="#" style="--i:1;" class="fas fa-heart"></a>
                <a href="#" style="--i:2;" class="fas fa-shopping-cart"></a>
                <a href="#" style="--i:3;" class="fas fa-search"></a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="./css/images/4.png" alt="">
            </div>
            <div class="info">
                <h3>Unseen Shadows</h3>
                <div class="subInfo">
                    <strong class="price"> Php1000/- <span>php1500/-</span> </strong>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <a href="#" style="--i:1;" class="fas fa-heart"></a>
                <a href="#" style="--i:2;" class="fas fa-shopping-cart"></a>
                <a href="#" style="--i:3;" class="fas fa-search"></a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="./css/images/5.png" alt="">
            </div>
            <div class="info">
                <h3>Immortal Bones</h3>
                <div class="subInfo">
                    <strong class="price"> Php1000/- <span>Php1500/-</span> </strong>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <a href="#" style="--i:1;" class="fas fa-heart"></a>
                <a href="#" style="--i:2;" class="fas fa-shopping-cart"></a>
                <a href="#" style="--i:3;" class="fas fa-search"></a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="./css/images/6.png" alt="">
            </div>
            <div class="info">
                <h3>Ingrained Malice</h3>
                <div class="subInfo">
                    <strong class="price"> Php1000/- <span>Php1500/-</span> </strong>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <a href="#" style="--i:1;" class="fas fa-heart"></a>
                <a href="#" style="--i:2;" class="fas fa-shopping-cart"></a>
                <a href="#" style="--i:3;" class="fas fa-search"></a>
            </div>
        </div>

    </div>

</section>



<section class="feature" id="featured">

    <h1 class="heading"> <span> featured product </span> </h1>

    <div class="row">

        <div class="image-container">

            <div class="big-image">
                <img src="./css/images/7.png" alt="">
            </div>

            <div class="small-image">
                <img class="image-active" src="images/watch1.png" alt="">
                <img src="images/watch2.png" alt="">
                <img src="images/watch3.png" alt="">
                <img src="images/watch4.png" alt="">
            </div>

        </div>

        <div class="content">

            <h3>Riwenne The Mechanical Beast</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span>(500+) reviews</span>
            </div>
            <p>Author Kristen S. Walker "DIVINE WARIORS 1"</p>
            <strong class="price">Php1000 <span>Php1500</span> </strong>
            <button class="btn">buy now</button>

        </div>

    </div>

</section>



<section class="gallery" id="gallery">

    <h1 class="heading"> <span> AUTHORS </span> </h1>

    <ul class="controls">
        <li class="btn button-active" data-filter="all">all</li>
        <li class="btn" data-filter="phone">J.F. PENN</li>
        <li class="btn" data-filter="laptop">GEORGE R.R MARTIN</li>
        <li class="btn" data-filter="headphone">TRINIDAD GIACHINO</li>
        <li class="btn" data-filter="shoes">KRISTEN S. WALKER</li>
    </ul>

    <div class="image-container">

        <div class="box phone">
            <div class="image">
                <img src="./css/images/8.png" alt="">
            </div>
            <div class="info">
                <h3>Riwenne The Bionic</h3>
                <div class="subInfo">
                    <strong class="price">Php1000</strong>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="box phone">
            <div class="image">
                <img src="./css/images/9.png" alt="">
            </div>
            <div class="info">
                <h3>The Electrical Prophecy</h3>
                <div class="subInfo">
                    <strong class="price">Php1000</strong>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="box laptop">
            <div class="image">
                <img src="./css/images/10.png" alt="">
            </div>
            <div class="info">
                <h3>The Game Of Thrones</h3>
                <div class="subInfo">
                    <strong class="price">Php1000</strong>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="box shoes">
            <div class="image">
                <img src="./css/images/01.png" alt="">
            </div>
            <div class="info">
                <h3>A Clash Of Kings</h3>
                <div class="subInfo">
                    <strong class="price">Php1000</strong>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="box laptop">
            <div class="image">
                <img src="./css/images/02.png" alt="">
            </div>
            <div class="info">
                <h3>A Storm Of Swords 1</h3>
                <div class="subInfo">
                    <strong class="price">Php1000</strong>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="box headphone">
            <div class="image">
                <img src="./css/images/03.png" alt="">
            </div>
            <div class="info">
                <h3>A Storm of swords 2</h3>
                <div class="subInfo">
                    <strong class="price">Php1000</strong>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="box shoes">
            <div class="image">
                <img src="./css/images/04.png" alt="">
            </div>
            <div class="info">
                <h3>A  Feast of Crows</h3>
                <div class="subInfo">
                    <strong class="price">Php1000</strong>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="box headphone">
            <div class="image">
                <img src="./css/images/05.png" alt="">
            </div>
            <div class="info">
                <h3>A Dance Of Dragons</h3>
                <div class="subInfo">
                    <strong class="price">Php1000</strong>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="box headphone">
            <div class="image">
                <img src="./css/images/1.png" alt="">
            </div>
            <div class="info">
                <h3>Stone Of Fire</h3>
                <div class="subInfo">
                    <strong class="price">Php1000</strong>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>



<section class="deal" id="deal">

    <h1 class="heading"> <span> best deals </span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="./css/images/2.png" alt="">
            <div class="content">
                <h3>Crypt Of Bone</h3>
                <p>upto 25% off on first purchase</p>
                <button class="btn">explore</button>
            </div>
        </div>

        <div class="box">
            <img src="./css/images/3.png" alt="">
            <div class="content">
                <h3>Ark Of Bone</h3>
                <p>upto 25% off on first purchase</p>
                <button class="btn">explore</button>
            </div>
        </div>

    </div>

    <div class="icons-container">

        <div class="icons">
            <i class="fas fa-shipping-fast"></i>
            <h3>fast delivery</h3>

        </div>

        <div class="icons">
            <i class="fas fa-user-clock"></i>
            <h3>24 x 7 support</h3>

        </div>

        <div class="icons">
            <i class="fas fa-money-check-alt"></i>
            <h3>easy payments</h3>

        </div>

        <div class="icons">
            <i class="fas fa-box"></i>
            <h3>10 days replacements</h3>

        </div>

    </div>

</section>


@code {

}
