.nav-container {
    background: #DB3069;
    padding: 0px;
}

.logo-img {
    width: 150px;
    height: auto;
}

.nav-text {
    margin-left: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #EBEBD3;
}
