.title-text {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #EBEBD3;
}

.title-box {
    margin-bottom: 70px;
}

.sub-title {
    margin-top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #F5D547;
}

.category-box {
    background: #F5D547;
    border-radius: 20px;
    padding: 20px 50px;
    margin-bottom: 70px;
}

.category-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #1446A0;
    text-align: center;
    margin-bottom: 50px;
}

.category-card {
    background: #DB3069;
    border-radius: 30px;
}

.category-img {
    width: 200px;
}

.category-text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #F5D547;
    margin-bottom: 25px;
}

.why-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #EBEBD3;
}

.why-content {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #F5D547;
}

.contact-box {
    background: #EBEBD3;
    border-radius: 20px;
}

.contact-img {
    width: 60%;
    height: auto;
}

.contact-text {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.contact-button {
    margin-top: 25px;
    border: 3px solid #1446A0;
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #1446A0;
}

    .contact-button:hover {
        background-color: #1446A0;
        color: #FFFBE7;
    }
