<div class="container-fluid body-container">
    <div class="title-box row">
        <div class="title-img-box col-6 d-flex justify-content-end">
            <img src="./css/images/Header.png" class="img-title" alt="cart">
        </div>
        <div class="title-text-box col-6 d-flex flex-column justify-content-center align-items-start">
            <h2 class="title-text">Welcome to KwikMart</h2>
            <h5 class="sub-title w-75">
                KwekMart is the one-stop online grocery supermarket where
                you can find all your favorite local and imported products
            </h5>
        </div>
    </div>
    <div class="category-box row d-flex justify-content-center">
        <h3 class="category-title">Popular Categories</h3>
        <div class="category-card col-3 mx-5 d-flex flex-column align-items-center">
            <img class="category-img" src="./css/images/drinks.png" alt="drinks">
            <h5 class="category-text">Drinks</h5>
        </div>
        <div class="category-card col-3 mx-5 d-flex flex-column align-items-center">
            <img class="category-img" src="./css/images/snacks.png" alt="drinks">
            <h5 class="category-text">Snacks</h5>
        </div>
        <div class="category-card p-3 col-3 mx-5 d-flex flex-column align-items-center">
            <img class="category-img" src="./css/images/burger.png" alt="drinks">
            <h5 class="category-text">FastFoods</h5>
        </div>
    </div>
    <div class="why-box">
        <div class="why-card row">
            <div class="title-text-box col-7 d-flex flex-column justify-content-center align-items-end">
                <h2 class="why-title">Your Food’s Safety is our Number 1 Priority</h2>
                <h5 class="why-content text-end">Clean (Keep hands and utensils clean)</h5>
                <h5 class="why-content text-end">Separate (Separate raw and cooked food)</h5>
                <h5 class="why-content text-end">Cook (Cook thoroughly)</h5>
                <h5 class="why-content text-end">Safe Temperature (Keep food at safe temperature)</h5>
            </div>
            <div class="title-img-box col-5 d-flex justify-content-start">
                <img src="./css/images/safety.png" class="img-title" alt="cart">
            </div>
        </div>
        <div class="why-card row">
            <div class="title-img-box col-6 d-flex justify-content-end">
                <img src="./css/images/choices.png" class="img-title" alt="cart">
            </div>
            <div class="title-text-box col-6 d-flex flex-column justify-content-center align-items-start">
                <h2 class="why-title">Many Choices to Choose From</h2>
                <h5 class="why-content">Find the best deals and promotional offers on delicious items.</h5>
            </div>
        </div>
        <div class="why-card row">
            <div class="title-text-box col-7 d-flex flex-column justify-content-center align-items-end">
                <h2 class="why-title">Around The Clock Service</h2>
                <h5 class="why-content text-end">Consumers can purchase their everyday household and personal care products online 24/7</h5>
            </div>
            <div class="title-img-box col-5 d-flex justify-content-start">
                <img src="./css/images/hours.png" class="img-title" alt="cart">
            </div>
        </div>
    </div>
    <div class="contact-box row">
        <div class="contact-img-card col-4 d-flex justify-content-end">
            <img src="./css/images/contacts.png" class="contact-img" alt="Contact">
        </div>
        <div class="contact-content-card col-8 d-flex flex-column align-items-center justify-content-center">
            <h3 class="contact-text">Any Question or Quiries? We can answer them directly.</h3>
            <button class="contact-button">Contact Us</button>
        </div>
    </div>
</div>
