.account-container {
    height: 100%;
    width: 100%;
    padding-top: 100px;
}

.main-img {
    width: 100%;
}

.acc-title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
    color: #1446A0;
}

.white-box {
    width: 70%;
    background: #F5D547;
    border-radius: 20px;
    padding: 15px 20px;
    background: #F5D547;
    box-shadow: 0px 5px 5px #1446A0;
    border-radius: 20px;
}

table {
    width: 100%;
}


th {
    text-align: end;
    padding: 30px 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #1446A0;
}

td {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #DB3069;
}

.delete-acc {
    border: 3px solid #F2380F;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #F2380F;
    padding: 5px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #fff;
}

.edit-acc {
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #1446A0;
    padding: 5px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #40DFEF;
}
